<div class="btn-group" role="group">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info" href="?page=1"><i class="fas fa-angle-double-left"></i></a>
            <a class="btn btn-outline-info" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
        {% endif %}
    
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right"></i></a>
            <a class="btn btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>
        {% endif %}
    </span>
</div>
