{% extends 'baseB.html' %}

{% load static %}

{% block title %}Redefinição de senha completa{% endblock %}

{% block style %}
<style>
  .msg-content {
    padding: 1rem;
  }

  .msg-content {}

  .msg-content h1 {
    color: #343434;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
  }

  .msg-content h1::after {
    content: " ";
    width: 100%;
    height: 1px;
    display: block;
    border-top: 1px solid #ececec;
    margin: 15px 0;
  }

  .msg-title {
    line-height: 1.11em;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .msg-text::after {
    content: " ";
    width: 100%;
    height: 1px;
    display: block;
    border-top: 1px solid #ececec;
    margin: 15px 0;
  }

  .msg-link {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
  }

  .msg-link a {
    text-decoration: none;
    color: #FE1E1D;
  }

  .msg-link a::after {
    content: '\f105';
    font-family: Font Awesome\ 5 Free;
    margin-left: 10px;
  }

  .msg-text {}

  .msg-check {
    margin-right: 15px;
    color: teal;
    font-size: 16px;
  }
</style>

{% endblock style %}

{% block content %}
<div class="msg-container">
  <div class="msg-content">
    <h1 class="msg-title">Redefinição de Senha Completa</h1>
    <div class="alert alert-success border border-success p-3 " role="alert">
      <span class="msg-check"><i class="far fa-check-circle"></i></span> Redefinição de senha realizada com sucesso!
    </div>
    <div class="msg-text">
      <p>Sua senha foi alterada. Você pode prosseguir e se autenticar agora.</p>
    </div>
    <div>
      <div class="msg-link">
        <a href="{% url 'login' %}">Acessar</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}