{% extends 'baseB.html' %}

{% load static %}

{% block title %}Alterar senha{% endblock %}

{% block style %}
<style>
    .pwd-confirm-content {
        padding: 1rem;
    }
    .pwd-confirm-content h1 {
        color: #343434;
        font-family: "Barlow", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 16px;
    }
    .pwd-confirm-content h1::after {
        content: " ";
        width: 100%;
        height: 1px;
        display: block;
        border-top: 1px solid #ececec;
        margin: 15px 0;
    }
    .pwd-confirm-title {
        line-height: 1.11em;
        margin-top: 1rem;
        margin-bottom: 0;
    }
    .pwd-confirm-link {
        display: flex;
        justify-content: flex-end;
        font-family: "Barlow", sans-serif;
    }
</style>
{% endblock style %}

{% block content %}
 
    <div class="pwd-confirm-container">
        <div class="pwd-confirm-content">
            <h1 class="pwd-confirm-title">Alterar senha</h1>
            <form method="post" >
                {% csrf_token %}
                {% include '../bs4_form.html' with form=form %}
                <hr />
                <div class="pwd-confirm-link mt-3">
                    <button class="btn btn-outline-primary" type="submit">Alterar minha senha</button>
                </div>        
            </form>                
        </div>
    </div>

{% endblock %}>